* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", sans-serif;
}

body {
  display: grid;
  place-items: center;
  text-align: center;
}

.title {
  margin-top: 1rem;
}

.movie-list-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  flex-direction: column;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  padding: 4rem;
}

.results-counter {
  position: absolute;
  top: 1rem;
}
