* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", sans-serif;
}

body {
  display: grid;
  place-items: center;
  text-align: center;
}

.movie-list-container {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  padding: 2rem;
  margin: 2rem 0;
}
