.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max-content;
}

.loading-icon {
  width: max-content;
  font-size: 3rem;
  color: rgb(0, 145, 255);
  margin: 2rem;
  animation: spin 750ms infinite linear, fade 1.5s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
